div.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  div.ships {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    div.ship {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  button {
    margin-top: 16px;
    width: 48px;
    height: 48px;
    border: 1px solid #AD904F;
    background-color: white;
    color: #AD904F;
    cursor: pointer;
    outline: none;

    &:hover {
      width: 48px;
      height: 48px;
      border: none;
      background-color: #AD904F;
      color: white
    }
  }
}